.login-container {
    height: 100vh;
    width: 100%;
    background-color: var(--background-color);
    color: #fff;
}

.login-form {
    max-width: 100%;
    width: 370px;
    padding: 15px;
    margin: auto;
}

.call-otp{
    display: inline-block;
    float: left;
}

.login-form .form-control {
    font-size: 15px;
    min-height: 48px;
    font-weight: 500;
}
.react-tel-input .form-control{
    width: 100%;
}

.react-tel-input .country-list .country-name {
    color: black;
}

.login-form a {
    text-decoration: none;
    color: var(--text-color);
}

.login-form a:hover {
    color: #723dbe;
    text-decoration: none;
}

.form-control:focus {
    border: hidden;
    border-color: #723dbe;
    box-shadow: 0 0 0 0.2rem rgba(144, 61, 190, .25);
}

.forgot-link {
    font-size: 13px;
}

.forgot-link label {
    margin-bottom: 0;
}

.btn-custom {
    background: #723dbe;
    border-color: #723dbe;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    min-height: 48px;
    margin-top: 2rem
}

.btn-custom:focus, .btn-custom:hover, .btn-custom:active, .btn-custom:active:focus {
    background: #54229d;
    border-color: #54229d;
    color: #fff;
}

.btn-custom:focus {
    box-shadow: 0 0 0 0.2rem rgba(144, 61, 190, .25);
}
.margin-top--small {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.inputStyle {
    width: 3rem !important;
    height: 3rem;
    margin: 0 .25rem;
    font-size: 2rem;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.3);
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}