@font-face {
    font-family: 'HelveticaNeue';
    src: url('//fonts/HelveticaNeueLTW1G-Bd.woff2') format('woff2'),
        url('//fonts/HelveticaNeueLTW1G-Bd.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('//fonts/HelveticaNeueLTW1G-Md.woff2') format('woff2'),
        url('//fonts/HelveticaNeueLTW1G-Md.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('//fonts/HelveticaNeueLTW1G-Roman.woff2') format('woff2'),
        url('//fonts/HelveticaNeueLTW1G-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
