$primary-color : #0E375E;
$primary-color-dark : #0b233a;
$secondary-color : #C4C4C4;
$text-color : #000;
$primary-font: "HelveticaNeue", sans-serif, arial;
$font-bold: bold;
$font-500: 500;
$font-normal: normal;
$menu-color : #eeeeee;
$resp-icon-color : #919191;
$chat-top-bottom: #f0f0f0;
$outgoing-message-background:#dcf8c6;
$incoming-message-background:#fff;
$chat-name:#1f1f1f;
$panel-header-background : #ededed;
$background-default-active:#ebebeb;
$background-default:#fff;