$font-normal: normal;
// $menu-color: #eeeeee;
$resp-icon-color: #919191;
// $chat-top-bottom: #f0f0f0;
// $outgoing-message-background: #dcf8c6;
// $incoming-message-background: #fff;
// $chat-name: #1f1f1f;
// $panel-header-background: #ededed;
// $background-default-active: #ebebeb;
// $background-default: #fff;



// $primary-color: #0e375e;
// $primary-color-dark: #0b233a;
// $tg1-secondary-color: #3D444B;
// $tg1-background-default: #ffffff;
// $background-default: #2a2f32;
// $text-color: #c4c4c4;
$primary-font: "HelveticaNeue", sans-serif, arial;
$font-bold: bold;
$font-500: 500;
// $inbox-menu-icon-color: #b1b3b5;
// $inbox-menu-background-color: #131b21;
// $inbox-search-font-color: #6f7374;
// $inbox-search-background-color: #323739;
// $inbox-chat-color: #131b21;
// $inbox-chat-color-active: #323739;
// $inbox-chat-color-hover: #2d3134;
// $inbox-chat-border-color: #30373e;
// $inbox-chat-name-color: #c4c4c4;
// $inbox-chat-msg-color: #c4c4c4;
// $inbox-chat-time-color: #c4c4c4;
// $inbox-pin-icon: #484e53;
// $inbox-unseen-count-background: #00b89f;
// $inbox-unseen-count-color: #000;
// $inbox-scroll-color: #394045;
// $inbox-icon-color: #777c7e;
// $tg1-chat-sender-background: #effdde;
// $tg1-chat-receiver-background: #effdde;
// $tg1-chat-sender-color: $tg1-secondary-color;
// $tg1-chat-receiver-color: $tg1-secondary-color;
// $chat-info-background: $background-default;
// $chat-user-name-color:#c4c4c4;
// $chat-status-color:#c4c4c4;