.menu-bar-icon {
    .fa-bars
    {
        color: $inbox-menu-icon;
        font-size: 1.2rem;
        padding: 15px;
    }
}

.search-icon {
    .fa-search {
        color: $inbox-search-icon;
        font-size: 1.2rem;
    }
}

.left-arrow-icon{
    .fa-arrow-left {
        color: $chat-info-top-icons-color;
        font-size: 1.2rem;
        padding: 15px;
    }
}

.more-icon {
    .fa-ellipsis-v {
        color: $chat-info-top-icons-color;
        font-size: 1.2rem;
    }
}

.emoji-icon,
.paper-clip,
.microphone {
    .fa-smile,
    .fa-paperclip,
    .fa-microphone {
        color: $chat-info-bottom-icons-color;
        font-size: 1.5rem;
    }
}

.circle-icon {
    height: 30px;
    width: 30px;
    margin: 12px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
